@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
	.text-outline {
		text-shadow: -1px 1px 2px #595962, 1px 1px 2px #595962,
			1px -1px 0 #595962, -1px -1px 0 #595962;
	}
}
html {
	font-family: "Poppins", sans-serif;
}

.btn {
	text-transform: unset;
}

.btn-primary {
	@apply border-none bg-primary;
}

.btn-primary:hover {
	@apply bg-primary/70 shadow-lg;
}

.text-gradient {
	background: linear-gradient(45deg, hsl(var(--p)), hsl(var(--s)));
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

.background-gradient {
	background: linear-gradient(45deg, hsl(var(--p)), hsl(var(--s)));
}

.hidden-scrollbar::-webkit-scrollbar {
	display: none;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

code[class*="hljs"] {
	background: unset;
}
pre {
	padding: 0px !important;
	margin: 0px !important;
}
.transparent-fade {
	-webkit-mask-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(rgba(0, 0, 0, 0.05)),
		to(rgba(0, 0, 0, 0))
	);
	mask-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.05),
		rgba(0, 0, 0, 0)
	);
}

.text-glow {
	@apply text-transparent text-gradient text-shadow-sm leading-none;
}

.h0 {
	@apply text-3xl md:text-5xl;
}

.h1 {
	@apply text-2xl md:text-4xl;
}

.h2 {
	@apply text-xl md:text-3xl;
}

.h3 {
	@apply text-lg md:text-2xl;
}

.h4 {
	@apply text-base md:text-lg;
}

.h5 {
	@apply text-sm md:text-base;
}

.h6 {
	@apply text-xs md:text-sm;
}

.text-glass {
	/* Text Glass Efffect */
	background: linear-gradient(
		104.02deg,
		rgba(255, 255, 255, 0.4) -7.31%,
		#ffffff -7.3%,
		rgba(255, 255, 255, 0.4) 112.94%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.background-glass {
	background: linear-gradient(
		107.39deg,
		rgba(255, 255, 255, 0.2) 20.65%,
		rgba(255, 255, 255, 0) 100%
	);
	border: 1px solid rgba(255, 255, 255, 0.2);
	/* Glass Shadow */

	box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(20px);
	/* Note: backdrop-filter has minimal browser support */
}

.drop-glow {
	filter: drop-shadow(0px 0px 39.96px #854c4c);
}

.background-dotted {
	background-image: linear-gradient(
		45deg,
		hsl(var(--p)),
		hsl(var(--s)) 33%,
		rgba(255, 255, 255, 0) 0%
	);
	background-position: center;
	background-size: 2px 8px;
	background-repeat: repeat-y;
}
